@(foods: Seq[Food], user: User)
@import helper._
@main(title = "Eat This Now!", user: User) {
  <h1>Eat this food, @user.firstName!</h1>

  <dl class="nav">
    <dt>Main Navigation</dt>
    <dd><a href="@routes.Foods.create()">Add new food!</a></dd>
    <dd><a href="@routes.Application.logout()">Logout</a></dd>
  <dl>
  @foods.map { food =>
    <dt>@food.name</dt>
    <dd>
      Eat this by @food.expiry.format("MMMM dd, yyyy")
      <a href="@routes.Foods.markAsEaten(food.id.get)">Nom this</a>
  
    </dd>
  }
  </dl>
}
