@(user: User, foodForm: Form[Food])
@import helper._
@main(title = "Eat This Now!", user: User) {

  <h1>Welcome, @user.firstName!</h1>

  <section class="etnAddFoodContainer">
    <button id="etnButtonAddFood">Add food</button>
  
    <div id="etnAddFoodContainer">
      @form(routes.Foods.save()) {
        @inputText(foodForm("name"), '_label -> "Food Name")
        @checkbox(field = foodForm("eaten"))
        @inputText(field = foodForm("owner"), '_label -> "User Email")
        @inputDate(foodForm("expiry"), '_label -> "Eat this by:")
        <input type="Submit" value="Remind me to eat this!" />
      }
    </div>
  </section>

  <section class="etnContent">
  
    <dl class="nav">
      <dt>Main Navigation</dt>
      <dd><a href="@routes.Application.logout()">Logout</a></dd>

    <h1>Eat this food!</h1>

    <div id="circleG">
    <div id="circleG_1" class="circleG">
    </div>
    <div id="circleG_2" class="circleG">
    </div>
    <div id="circleG_3" class="circleG">
    </div>
    </div>

    <div id="etnLoadFoodContainer"></div>

  </section>



}
