@(accountForm: Form[(String, String, String, (String, String))], user: User)
@import helper._
@mainLayout(pageTitle = "Manage Your Account - Eat This Now!", user: User) {

      <div class="etnAccessibleHide">
        <a href="#foodList" class="etnSkipLink">Skip to your account preferences</a>
        <a href="#mainNav" class="etnSkipLink">Skip to main navigation</a>
      </div>

} {

  <h2>Manage your account</h2>

  <p>(doesn't actually do anything yet)</p>  
  <div>
  @form(action = routes.Account.update) {
    @inputText(
      field = accountForm("email"),
      '_label -> "Email Address",
      '_error -> accountForm.globalError
    )

    @inputText(
      field = accountForm("firstName"),
      '_label -> "First Name",
      '_error -> accountForm.globalError
    )

    @inputText(
      field = accountForm("lastName"),
      '_label -> "Last Name",
      '_error -> accountForm.globalError
    )

    @inputPassword(
      field = accountForm("password.main"),
      '_label -> "Password"
    )
    </div>
    
    <div>
    @inputPassword(
      field = accountForm("password.confirm"),
      '_label -> "Repeat Password",
      '_error -> accountForm.error("password")
    )
    </div>
    
    <input type="submit" value="Save changes" />
  }
}