@(accountForm: Form[(String, (String, String))], user: User)
@pageTitle = {Manage your account - Eat This Now!}
@import helper._
@mainLayout(user: User)(pageTitle) {

      <div class="etnAccessibleHide">
        <a href="#foodList" class="etnSkipLink">Skip to your food listing</a>
        <a href="#mainNav" class="etnSkipLink">Skip to main navigation</a>
      </div>

} {

  <h2>Manage your account</h2>

  <p>(doesn't actually do anything yet)</p>  
  <div>
  @form(action = routes.Account.update) {
    @inputText(
      field = accountForm("email"),
      '_label -> "Email Address",
      '_error -> accountForm.globalError
    )
    </div>
    
    <div>
    @inputPassword(
      field = accountForm("password.main"),
      '_label -> "Password"
    )
    </div>
    
    <div>
    @inputPassword(
      field = accountForm("password.confirm"),
      '_label -> "Repeat Password",
      '_error -> accountForm.error("password")
    )
    </div>
    
    <input type="submit" value="Save changes" />
  }
}