@import "_grid.less";

/*section*/.etnRowHeader {
  text-align: center;
  display: block;
  background: url('../images/etnHeaderLogo.png') repeat-x 0 -61px;
}
/*div*/.etnHeader {
  .etn7colContainer
  text-align: left;
  margin: 0 auto;
}
/*h1*/.etnHeaderLogo {
  margin: 0 auto;
  width: 264px;
  height: 61px;
}
/*a*/.etnHeaderLogoLink {
  background: url('../images/etnHeaderLogo.png') no-repeat 0 0;
  width: 264px;
  height: 61px;
  text-indent: -10000px;
  overflow: hidden;
  display: block;
}
/*a*/.etnHeaderAccountLink {
  position: absolute;
  left: 50%;
  margin: 0 0 0 150px;
  top: 15px;
}

/* Account menu
--------------------------------------------------------*/
/*dl*/.etnHeaderAccountMenu {
  position: absolute;
  right: 0;
  top: 10px;
  background: #fff;
  border: 1px solid #666;
  border-radius: 3px;
}
/*dt*/.etnHeaderAccountMenuTitle {
}
/*dd*/.etnHeaderAccountMenuItem {
  margin: 0;
  padding: 0;
  display: block;
}
/*a*/.etnHeaderAccountMenuLink {
  display: block;
  padding: 10px 3px;
}