/*section*/.etnRowHeader {
  text-align: center;
  display: block;
  background: url('../images/etnHeaderLogo.png') repeat-x 0 -61px;
}
/*h1*/.etnHeaderLogo {
  margin: 0 auto;
  width: 264px;
  height: 61px;
}
/*a*/.etnHeaderLogoLink {
  background: url('../images/etnHeaderLogo.png') no-repeat 0 0;
  width: 264px;
  height: 61px;
  text-indent: -10000px;
  overflow: hidden;
  display: block;
}
/*a*/.etnHeaderAccountLink {
  position: absolute;
  left: 50%;
  margin: 0 0 0 150px;
  top: 15px;
}