@960columnWidth: 40px;
@960gutterWidth: 20px;

.960columnCalculator (@columns, @adjust: 0) {
@gutters: @columns - 1;
  width: ( @columns * @960columnWidth ) + ( @gutters * @960gutterWidth);
}

.etn2colContainer {
  .960columnCalculator(2) 
}