@import "_grid.less";
@import "_loading.less";

/*
Table of Contents

1.) Global variables
2.) Default element styles
3.) Containers, columns, and rows
4.) Accessibility-related rules
5.) Header
6.) Account menu
7.) Content-related rules
8.) Footer-related rules
i.) Utility classes
*/

/* 1.) Global variables and mixins
-------------------------------------------------------------*/
.globalBodyCopy {
  line-height: 1.25em;
}


/* 2.) Default element styles
-------------------------------------------------------------*/

body {
    font-size: 13 / 16em;
/* A note on font sizes:
  In most cases, font sizes will be denoted with the following format:
  XX / YYem
  This is done so that Less can calculate the font size in EMs, and
  a development team can communicate with each other what the inherited
  font size that this rule modified was. Effectively, it communicates the following:
  
  Was: 16px. Will be: 13px

*/
    color: #000; /**/
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 20px 0; /**/
    padding: 0; /**/
    text-align: center;
    background: #c7d9e0;
}
a {
    color: #333; /**/
    text-decoration: none;
    border: none;
}
a:visited {
    color: #444; /**/
}
a:hover {
    color: #555; /**/
}

abbr {
    border: none;
}
h1 {
    font-size: 22 / 13em;
    color: #14a; /**/
    line-height: 28 / 22em;
}
h2 {
    font-size: 18 / 13em;
    color: #114; /**/
    line-height: 24 / 18em;
}
h3 {
    font-size: 13 / 16em;
    line-height: 16 / 21em;
    color: #114; /**/
}
p {
    margin: 1em 0;/**/
    .globalBodyCopy
}
ul, ol {
    margin: .5em 0;/**/
}
li {
    margin: .5em 0;/**/
}
dd {
  margin: .5em 0;
}

/* 3.) Containers, columns, and rows
-------------------------------------------------------------*/
/*section*/.etnsRowMain {
  display: block;
}
/*div*/.etnsMain {
  .etns7colContainer;
  background: #fff;
  margin: 0 auto;
  text-align: left;
  padding: 20px;
}
/*section*/.etnsContent {
  display: block;
  clear: both;
}

/* 4.) Accessibility-related rules
-------------------------------------------------------------*/
.etnsAccessibleHide {
  position: absolute;
  left: -10000px;
  top: -10000px;
}



/* 5.) Header
-------------------------------------------------------------*/
/*section*/.etnsRowHeader {
  text-align: center;
  display: block;
  background: url('../images/etnHeaderLogo.png') repeat-x 0 -61px;
}
/*div*/.etnsHeader {
  .columnCalculator(7);
  text-align: left;
  margin: 0 auto;
  position: relative;
}
/*h1*/.etnsHeaderLogo {
  margin: 0;
  width: 227px;
  height: 61px;
}
/*a*/.etnsHeaderLogoLink {
  background: url('../images/etnHeaderLogo.png') no-repeat 0 0;
  width: 264px;
  height: 61px;
  text-indent: -10000px;
  overflow: hidden;
  display: block;
}
/*a*/.etnsHeaderAccountLink {
  position: absolute;
  left: 50%;
  margin: 0 0 0 150px;
  top: 15px;
}

/* 6.) Account menu
--------------------------------------------------------*/
/*dl*/.etnsHeaderAccountMenu {
  position: absolute;
  right: 0;
  top: 10px;
  background: #fff;
  border: 1px solid #666;
  border-radius: 6px;
  overflow: hidden;
  margin: 0;
  padding: 0 0 5px 0;
}
/*dt*/.etnsHeaderAccountMenuTitle {
  padding: 8px 10px 3px;
  cursor: pointer;
}
/*a*/.etnsHeaderAccountMenuTitleLink {
  
}
/*a*/.etnsHeaderAccountMenuTitleLink:hover {
  
}
/*dd*/.etnsHeaderAccountMenuItem {
  margin: 0;
  padding: 0;
  display: block;
}
/*a*/.etnsHeaderAccountMenuLink {
  display: block;
  padding: 3px 10px;
}
/*ul*/.etnsFoodListItemList {
}
/*a*/.etnsHeaderAccountMenuLink:hover {
  background: #e27f1d;
  color: #fff;
}





/* 7.) Content-related rules
--------------------------------------------------------*/
/*ul*/.etnsFoodList {
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0;
}
/*li*/.etnsFoodItem {
  display: block;
  margin: 0 0 5px 0;
  padding: 5px 60px 0 0;
  position: relative;
}
/*button*/.etnsFoodButtonMain {
  background: none;
  text-align: left;
  border: none;
  padding: 1px 0;
  display: block;
  width: 100%;
}
/*button*/.etnsFoodButtonMain:hover {
  outline: 1px dotted #888;
}
/*button*/.etnsFoodButtonMain:active {
  outline: 1px dotted #888;
  background: #a0a0a0;
}
/*h3*/.etnsFoodItemName {
  font-weight: normal;
  color: #333;
  font-size: 16em /13;
  margin: 0 0 2px 0;
}
/*span*/.etnsFoodItemExpiry {
  display: block;
  max-width: 250px;
}
/*span*/.etnsFoodItemNom {
  font-size: 28em / 13;
  display: none;
}
