@(loginForm: Form[(String, String)], accountForm: Form[(String, String, String, (String, String))])(implicit flash: Flash)
<html>
	<head>
		<title>Eat This Now!</title>
	</head>
	<body>

@helper.form(routes.Application.authenticate) {
	<h1>Sign in</h1>

  @loginForm.globalError.map { error =>
      <p class="error">
          @error.message
      </p>
  }
  
  @flash.get("success").map { message =>
      <p class="success">
          @message
      </p>
  }
  
  <p>
      <input type="email" name="email" placeholder="Email" value="@loginForm("email").value">
  </p>
  <p>
      <input type="password" name="password" placeholder="Password">
  </p>
  <p>
      <button type="submit">Login</button>
  </p>
}

@helper.form(routes.Application.signUp) {
}
</body>
</html>