@(pageTitle: String, user: User)(skipNav: Html)(content: Html)<!DOCTYPE html>
<html>
    <head>
        <title>@pageTitle</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/modernizr-2.5.2.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery.validate.js")" type="text/javascript"></script>
    </head>
    <body>
@skipNav
      <section class="etnsRowHeader">
        <div class="etnsHeader">
          <h1 class="etnsHeaderLogo">
            <a class="etnsHeaderLogoLink" href="@routes.Foods.index()">Eat This Now!</a>
          </h1>
          <dl class="etnsHeaderAccountMenu">
            <dt class="etnsHeaderAccountMenuTitle">
                <span class="etnsAccessibleHide">Account menu for </span>
                @user.firstName @user.lastName
            </dt>
            <dd class="etnsHeaderAccountMenuItem">
              <a href="@routes.Account.manage()" class="etnsHeaderAccountMenuLink">Account management</a>
            </dd>
            <dd class="etnsHeaderAccountMenuItem">
              <a href="@routes.Application.logout()" class="etnsHeaderAccountMenuLink">Logout</a>
            </dd>
		  </dl>
        </div>
      </section>
      <section class="etnsRowMain">
        <div class="etnsMain">
@content
          <div class="etnsClear"></div>
        </div>
      </section>
      <script src="@routes.Assets.at("javascripts/etnsEat.js")" type="text/javascript"></script>
    </body>
</html>
